<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <aop:aspectj-autoproxy/>
 
   
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
     	

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" 
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties" ref="hibernateProperties" />
        <!-- OR mapping files. -->
        <property name="packagesToScan" value="com.oak_yoga_studio.domain"/>        
    </bean>

    <bean id="beanValidationEventListener" class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener">  
        <constructor-arg index="0" ref="validator" />  
        <constructor-arg index="1">  
            <props/>  
        </constructor-arg>  
    </bean>  

    <!-- the datasource -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/yoga_studio" />
        <property name="username" value="root" />
        <property name="password" value="Pass@deliver" />
    </bean>

    <!-- hibernate Properties -->
    <bean id="hibernateProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <!--<prop key="hibernate.hbm2ddl.auto">create</prop>-->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect
                </prop>
                <prop key="connection.pool_size">1</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--http://davidmarquis.wordpress.com/2010/11/25/using-hibernate-event-based-validation-with-c/-->
                <!--                to allow us to use hibernate custom validator with injection. 
                on form submit, the vlidator is created using Spring's validator factory==> injection work
                on transaction commit, hibernate will create validators using its own validator factory==> injections does not work
                ==> we will get null pointer execption
                solution: disable hibernate's on commit validation, only use the on form commit Don't practice on reall world, it will create concurency problem.-->
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>
    
    <!-- Transuction Manager -->
    <tx:annotation-driven transaction-manager="txManager" />
    <bean id="txManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!-- DAO's setter injections -->
    <bean id="customerDAO" class="com.oak_yoga_studio.dao.impl.CustomerDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    <bean id="facultyDAO" class="com.oak_yoga_studio.dao.impl.FacultyDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    <bean id="credentialDAO" class="com.oak_yoga_studio.dao.impl.CredentialDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    <bean id="addressDAO" class="com.oak_yoga_studio.dao.impl.AddressDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="courseDAO" class="com.oak_yoga_studio.dao.impl.CourseDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    <bean id="sectionDAO" class="com.oak_yoga_studio.dao.impl.SectionDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="waiverDAO" class="com.oak_yoga_studio.dao.impl.WaiverDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="enrollmentDAO" class="com.oak_yoga_studio.dao.impl.EnrollmentDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="orderDAO" class="com.oak_yoga_studio.dao.impl.OrderDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="orderItemDAO" class="com.oak_yoga_studio.dao.impl.OrderItemDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="shoppingCartDAO" class="com.oak_yoga_studio.dao.impl.ShoppingCartDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="shoppingCartItemDAO" class="com.oak_yoga_studio.dao.impl.ShoppingCartItemDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <bean id="productDAO" class="com.oak_yoga_studio.dao.impl.ProductDAOImpl">
        <property name="sf" ref="sessionFactory"/>
    </bean>
    
    <!-- Email Service injections --> 
    <bean id="emailAdvice" class="com.oak_yoga_studio.aop.EmailAdvice">
        <property name="notificationService" ref="notificationService"/>
    </bean> 
    
    <bean id="notificationService" class="com.oak_yoga_studio.service.impl.NotificationServiceImpl">
        <property name="javaMailSender" ref="javaMailSender"/>
        <property name="toAdminTemplate" ref="toAdminTemplate"/> 
        <property name="toFacultiesTemplate" ref="toFacultiesTemplate"/> 
        <property name="toCustomersTemplate" ref="toCustomersTemplate"/>  
        <property name="toAdvisorTemplate" ref="toAdvisorTemplate"/> 
    </bean> 
    
    <!-- customer service injections --> 
    <bean id="customerService" class="com.oak_yoga_studio.service.impl.CustomerServiceImpl">
        <constructor-arg ref="customerDAO"/>
        <constructor-arg ref="credentialDAO" />
        <constructor-arg ref="notificationService"/>
     </bean> 
      
     <!-- faculty service injections --> 
    <bean id="facultyService" class="com.oak_yoga_studio.service.impl.FacultyServiceImpl">
        <constructor-arg ref="facultyDAO"/>
        <constructor-arg ref="sectionDAO" />
        <constructor-arg ref="waiverDAO"/>
        <constructor-arg ref="customerDAO" />
        <constructor-arg ref="notificationService"/>
     </bean> 
            
      <!-- enrollment service injections --> 
      <bean id="EnrollmentService" class="com.oak_yoga_studio.service.impl.EnrollmentServiceImpl">
            <constructor-arg ref="customerDAO"/>
            <constructor-arg ref="courseDAO" />
            <constructor-arg ref="sectionDAO"/>
            <constructor-arg ref="facultyDAO"/>
            <constructor-arg ref="enrollmentDAO"/>
      </bean> 
      <!-- Course service injections -->
     <bean id="courseService" class="com.oak_yoga_studio.service.impl.CourseServiceImpl">
        <constructor-arg ref="courseDAO"/>
        <constructor-arg ref="sectionDAO" />
     </bean> 
     
     <!-- Section service injections -->
     <bean id="sectionService" class="com.oak_yoga_studio.service.impl.SectionServiceImpl">
         <constructor-arg ref="sectionDAO" />
     </bean>
     
    <!--Email Service--> 
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="mum.ea.project@gmail.com" />
        <property name="password" value="mum.ea.project@2014" /> 
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>                                
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>
  
    <bean id="toCustomersTemplate"
          class="org.springframework.mail.SimpleMailMessage"> 
        <property name="from" value="mum.ea.project@gmail.com" />
        <property name="to" value="wel.berhe@gmail.com" />
        <property name="subject" value="OAK Yoga Studio: Notification" />
        <property name="text">
            <value>
		<![CDATA[
Dear %1$s,

%2$s

Regards,
Oak Yoga Studio
Tel - (111)111-2222
Administrator @AK.
		]]>
            </value>
        </property>
    </bean>
    <bean id="toAdminTemplate"
          class="org.springframework.mail.SimpleMailMessage"> 
        <property name="from" value="mum.ea.project@gmail.com" />
        <property name="to" value="wel.berhe@gmail.com" />
        <property name="subject" value="Oak Yoga Studio: Support" />
        <property name="text">
            <value>
		<![CDATA[
Dear Administrator,

%1$s

Regards,
Oak Yoga Studio
Tel -(111)111-2222 
%2s.
		]]>
            </value>
        </property>
    </bean>
    <bean id="toFacultiesTemplate"
          class="org.springframework.mail.SimpleMailMessage"> 
        <property name="from" value="mum.ea.project@gmail.com" />
        <property name="to" value="wel.berhe@gmail.com" />
        <property name="subject" value="OAK Yoga Studio: Notification from Admin" />
        <property name="text">
            <value>
		<![CDATA[
Dear %1$s,

%2$s 

Regards,

Oak Yoga Studio
Tel - (111)111-2222
Administrator @AK
		]]>
            </value>
        </property>
    </bean>
    <bean id="toAdvisorTemplate"
          class="org.springframework.mail.SimpleMailMessage"> 
        <property name="from" value="mum.ea.project@gmail.com" />
        <property name="to" value="wel.berhe@gmail.com" />
        <property name="subject" value="OAK Yoga Studio: New Advisee is assigned" />
        <property name="text">
            <value>
		<![CDATA[
Dear %1$s,


A new advisee is added.

Regards,
Administrator.
		]]>
            </value>
        </property>
    </bean>
    <!--Email Service-->
  
    
    <!--Security-->    
    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    <sec:global-method-security secured-annotations="enabled"/>
    <sec:http >
        <!--<sec:intercept-url pattern="/SpringLoginPage.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>-->
        <sec:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <sec:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <sec:intercept-url pattern="/addCredential" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <sec:intercept-url pattern="/addCustomer" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <sec:intercept-url pattern="/loginFail" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <sec:intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        
        <!--<sec:intercept-url pattern="/viewPost/*" access="IS_AUTHENTICATED_ANONYMOUSLY" method="GET"/>-->
        <sec:intercept-url pattern="/j_spring_security_check" access="IS_AUTHENTICATED_ANONYMOUSLY" method="GET"/>        
        <sec:intercept-url pattern="/**" access="ROLE_CUSTOMER,ROLE_ADMIN,ROLE_FACULTY"/>
        
        <sec:form-login login-page="/login" default-target-url="/index" authentication-failure-url="/loginFail"/>
        <sec:logout delete-cookies="true" invalidate-session="true" logout-success-url="/"/>
        
    </sec:http>
    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="test" password="test" authorities="ROLE_CUSTOMER"/>
            </sec:user-service>
        </sec:authentication-provider>
        <sec:authentication-provider >
            <sec:jdbc-user-service data-source-ref="dataSource" users-by-username-query="select username,password, active=1 enabled from credential where username=?" authorities-by-username-query="select username, role as authority from credential where username=?"/>
        </sec:authentication-provider>
    </sec:authentication-manager>
    <!--Security-->
    
    
</beans>
