/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2014, 6:26:53 PM
    Author     : weldino
*/

.error {
    color: red;
}
.errorBlock{
    color: red;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    padding: 3px;
    background-color: rgb(231, 231, 231);
}

